
:root {
  --main-color:#160020ff;
  --main-color2:rgb(170, 0, 142);
}
  #rightDiv{
     border-radius: 20px;
       padding-left: 20px;
       height: 100px;
    text-align: center;
    width: 1000px;
    margin-left: 10px;
   }
   #parent{
    margin-top: 100px;
    }
  
 
 
button#seemore{
background-color: transparent;
background-repeat: no-repeat;
cursor: pointer;
overflow: hidden;
 border:0;
margin-top: 40px;
  color: white;
font-family: 'Fredoka One',cursive;
font-size: 15px;
   
} 
button#seemore:hover{
color: var(--main-color2);
transition-duration: 0.5s;
}
 
 
